
@model ResumeApp.Models.Helpers.SearchData
@if (Model != null)
{
<p id="countResults" style="display:none">
    <button type="button" class="btn btn-success" style="display:inline-block">Nombre des résultats <span class="badge">@Model.resultList.Results.Count</span></button>
</p>

    for (var i = 0; i < Model.resultList.Results.Count; i++)
    {
        var high = Model.resultList.Results[i].Highlights.Values;
        <div class="panel panel-primary">
            <div class=" panel panel-heading text-center">
                @Html.DisplayFor(m => Model.resultList.Results[i].Document.metadata_storage_name, new { @class = "box1" })
                ( <b>Score : </b> @Html.DisplayFor(m => Model.resultList.Results[i].Score, new { @class = "text-center" })  )
            </div>
            <div class="panel-body">
                @foreach (var item in high)
                {
                    for (int j = 0; j < item.Count; j++)
                    {
                        @Html.Raw(item[j])
                    }
                }
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-primary" onclick="Download('@Model.resultList.Results[i].Document.metadata_storage_name')"> Télécharger </button>
                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"  onclick="Display('@Model.resultList.Results[i].Document.metadata_storage_name')"> Afficher </button>
                <button class="btn btn-primary" data-target="#detailsModal" data-toggle="modal" onclick="Details('@Model.resultList.Results[i].Document.metadata_storage_name')"> Détails  </button>
            </div>
        </div>
    }
}
<script>
    function Details(filename) {
        console.log(filename);
            
        var s = filename.indexOf(".");
        var subStr = filename.substring(0, s);

        $.get("/advsearch/Details/", { "filename": subStr },

            function (data) { $('.modal-details').html(data); }
        );
       
    }

    function Display(filename) {
            //var val = filename.replace("'", "");
        $('#frima').attr('src', "https://amilkar.blob.core.windows.net/firstontainer/" + filename);
    }
    function Download(filename) {

        //    var myStr = cvFile.name;
        //    var s = myStr.indexOf(".");
        //var subStr = myStr.substring(0, s);
        window.open("https://amilkar.blob.core.windows.net/firstontainer/" + filename, '_blank');
        //window.location = "https://amilkar.blob.core.windows.net/firstontainer/" + filename;

    }
</script>