@model IEnumerable<ResumeApp.Models.ApplicationUser>
<div style="padding:15px">
    <h2 class="alert alert-info">Liste des utilisateurs</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nom Complet")
            </th>
            <th>
                @Html.DisplayName("Adresse Email")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td id="names">
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td id=" email">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <button id="Edit" class="btn btn-info" onclick="EditUser('@item.Id')">Modifier</button> |
                    <button id="Details" class="btn btn-info" onclick="DetailsUser('@item.Id')">Détails</button> |
                    <button id="Remove" class="btn btn-info" onclick="RemoveUser('@item.Id')">Supprimer</button>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>
    <br />
    <div id="opSpace" class="text-center">


    </div>
</div>

<link href="~/Content/iziToast-master/iziToast-master/dist/css/iziToast.min.css" rel="stylesheet" />
<script src="~/Content/iziToast-master/iziToast-master/dist/js/iziToast.min.js"></script>
<script>
    $(document).ready(function () {
        $('.navbar-nav li a.active').removeClass('active');
        $(".navbar-nav li a[href='/Identity']").addClass('active');
    });
    function DetailsUser(id) {
        //console.log(id);
        $.get("/Identity/Details/", { "id": id },
            function (data) {
                $("#opSpace").empty();
                $("#opSpace").html(data);
            });
    }
    function EditUser(id) {
        //console.log(id);
        $.get("/Identity/Edit/", { "id": id },
            function (data) {
                $("#opSpace").empty();
                $("#opSpace").html(data);
            });
    }
    function saveModif() {
        var fullName = $("#fullName").val();
        //console.log(fullName);
        var editUser = JSON.stringify({
            'UserName': $("#username").val(),
            'PhoneNumber': $("#telephone").val(),
            'Email': $("#email").val(),
            'PostalCode': $("#codePostale").val(),
            'Country': $("#pays").val(),
            'State': $("#governorat").val(),
            'City': $("#ville").val(),
            'StreetAddress': $("#addresse").val(),
            'FullName': $("#fullName").val(),
            'Id': $("#Id").val()

        });
        var person = {
            'UserName': $("#username").val(),
            'PhoneNumber': $("#telephone").val(),
            'Email': $("#email").val(),
            'PostalCode': $("#codePostale").val(),
            'Country': $("#pays").val(),
            'State': $("#governorat").val(),
            'City': $("#ville").val(),
            'StreetAddress': $("#addresse").val(),
            'FullName': $("#fullName").val(),
            'Id': $("#Id").val()
        };
        console.log(person);
        selectedRole = [];
        $("input:checkbox[name=SelectedRole]:checked").each(function () {
            selectedRole.push($(this).val());
        });
        console.log(editUser);
        console.log(selectedRole);
        $.post("/Identity/EditUser/", { "selectedRole": selectedRole, "editUser": person },
            function (data, status, xhr) {
                $("#opSpace").empty();
                // $("#opSpace").html(data);
                success:  {
                    //console.log("saved successfully");
                    iziToast.success({
                        title: 'Hola',
                        message: "mise à jour des données de l'utilisateur avec succés!",
                        icon: 'fa fa-check-square',
                    });
                }
            });
    }
    function RemoveUser(id) {
        $.post("/Identity/RemoveUser/", { "id": id } ,
            function (data) {
                console.log("hola mundo");
                location.reload();
                console.log(data);
            }
        );
        
    }
</script>